<mat-card>
<mat-card-title>Inicio de sesion</mat-card-title>
<mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
    <p>
        <mat-form-field>
        <input  type="text"  formControlName="user" name="user" matInput placeholder="Usuario">

        </mat-form-field>

    </p>
    
    <p>
        <mat-form-field>
        <input  formControlName="password"  type="password" name="password" matInput placeholder="Contraseña">

        </mat-form-field>

    </p>
    <div>

        <button type="submit" [disabled]="!loginForm.valid" mat-raised-button>Iniciar Sesion</button>

    </div>
</form>
</mat-card-content>
</mat-card>